/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el título */
.title {
    text-align: center;
    color: #333;
    font-size: 48px; /* Tamaño grande para desktop */
    margin-bottom: 20px;
}

/* Estilos para los botones de días */
.botones-dias {
    text-align: center;
    margin-top: 20px;
}

.day-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 24px; /* Tamaño grande para desktop */
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.day-button:hover {
    background-color: #45a049;
}

/* Estilos para los ejercicios */
.ejercicio {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.ejercicio:last-child {
    border-bottom: none;
}

.ejercicio h3 {
    margin-top: 0;
}

.ejercicio-checkbox {
    margin-right: 10px;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .title {
        font-size: 36px; /* Reducir tamaño del título para móviles */
    }

    .day-button {
        font-size: 18px; /* Reducir tamaño de los botones para móviles */
        padding: 10px 20px; /* Ajustar padding de los botones */
        margin: 5px; /* Reducir margen entre los botones */
    }

    .ejercicio {
        padding: 10px; /* Añadir padding a los ejercicios para móviles */
    }
}
