body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    text-align: center;
    color: #333;
    font-size: 48px; /* Aumentar tamaño del título */
    margin-bottom: 20px;
}

.botones-dias {
    text-align: center;
    margin-top: 20px; /* Ajustar margen superior */
}

.day-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 24px; /* Aumentar tamaño de los botones */
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.day-button:hover {
    background-color: #45a049;
}

.ejercicio {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.ejercicio:last-child {
    border-bottom: none;
}

.ejercicio h3 {
    margin-top: 0;
}

.ejercicio-checkbox {
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 36px; /* Reducir tamaño del título para dispositivos móviles */
    }

    .day-button {
        font-size: 18px; /* Reducir tamaño de los botones */
        padding: 10px 20px; /* Ajustar padding de los botones */
        margin: 5px; /* Reducir el margen entre los botones */
    }
}
