body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    color: #333;
    font-size: 36px; /* Tamaño más grande */
    margin-bottom: 20px;
}

#botones-dias {
    text-align: center;
    margin-bottom: 20px;
}

.day-button {
    background-color: #4CAF50; /* Color verde */
    color: white;
    padding: 15px 30px; /* Tamaño más grande */
    font-size: 20px; /* Tamaño más grande */
    border: none;
    cursor: pointer;
    margin: 10px; /* Espaciado entre botones */
    border-radius: 5px;
    display: inline-block; /* Para que los botones estén en una línea */
}

.day-button:hover {
    background-color: #45a049; /* Color verde más oscuro al pasar el mouse */
}

.ejercicio {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.ejercicio:last-child {
    border-bottom: none;
}

.ejercicio h3 {
    margin-top: 0;
}

.ejercicio-checkbox {
    margin-right: 10px;
}
